# Core LLM & LangChain tools
langchain
langgraph
langmem
langgraph-supervisor
langchain-community
langchain-openai
langchain-core
langchain-ollama
langgraph-api
langgraph-checkpoint-postgres
langsmith
openai

# Local Ollama models
ollama

# Vector DB & semantic memory
qdrant-client
mem0ai

# Streamlit UI
streamlit

# Utilities
python-dotenv
tqdm
requests
pydantic

# Sec
duckduckgo-search
googlesearch-python
beautifulsoup4

#Search
gpt-researcher
